https://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp38-cp38-linux_x86_64.whl ; platform_system == "Linux"
https://download.pytorch.org/whl/cpu/torchvision-0.7.0%2Bcpu-cp38-cp38-linux_x86_64.whl ; platform_system == "Linux"
https://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp38-cp38-win_amd64.whl ; platform_system == "Windows"
https://download.pytorch.org/whl/cpu/torchvision-0.7.0%2Bcpu-cp38-cp38-win_amd64.whl ; platform_system == "Windows"

numpy==1.19.3
fastai==2.0.13
fastcore==1.2.5
voila
ipywidgets